body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, hsl(202, 100%, 69%), hsl(36, 100%, 86%));
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.weatherForm{
    margin:20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsl(0,0%,20%, 0.3);
    border-radius: 10px;
    margin:10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: hsl(200, 70%, 50%);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

buttom[type="submit"]:hover{
    background-color: hsl(200, 70%, 40%);
}

.card{
    background: linear-gradient(to bottom right, hsl(202, 100%, 69%), hsl(36, 100%, 86%));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom:25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight:bold;
    color: hsla(0,0%,20%, 0.8);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight:bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight:bold;
    font-size: 2rem;
}
  
.weatherEmoji{
    margin: 0;
    font-size:7.5rem;
}

.errorDisplay{
    color: red;
    font-weight: bold;
    margin-top: 20px;
    font-size:2.5rem;
}